@tailwind base;
@tailwind components;
@tailwind utilities;

.sidebar {
  @apply w-64 bg-gray-200 shadow flex-col justify-between;
}

.sidebar-route {
  @apply rounded-md flex w-full justify-between cursor-pointer items-center m-3 p-3;
}

.input {
  @apply p-2 border border-indigo-200 focus:outline-none focus:border-indigo-800 rounded-md shadow-sm;
}

.containerLogin{ width:340px; margin: 0 auto; text-align:left; border-radius: 0 30px 30px; border-top-left-radius: 30px; border-top-right-radius: 30px; border-bottom-right-radius: 30px; border-bottom-left-radius: 30px; padding: 1.5em; padding-top: 1.5em; padding-right: 1.5em; padding-bottom: 1.5em; padding-left: 1.5em; border: 1px solid #dee2e6; border-top-color: rgb(222, 226, 230); border-top-style: solid; border-top-width: 1px; border-right-color: rgb(222, 226, 230); border-right-style: solid; border-right-width: 1px; border-bottom-color: rgb(222, 226, 230); border-bottom-style: solid; border-bottom-width: 1px; border-image-outset: 0; border-image-repeat: stretch; border-image-slice: 100%; border-image-source: none; border-image-width: 1; box-shadow: 1px 0px 4px rgba(0,0,0,0.2) !important;border-left: 2px solid rgba(183,183,183,0.25) !important; font-family: "Montserrat",sans-serif;  color: #004884; box-sizing: border-box; font-weight: 400; line-height: 1.5; }
.containerRegister{ width:480px; margin: 0 auto; text-align:left; border-radius: 0 30px 30px; border-top-left-radius: 30px; border-top-right-radius: 30px; border-bottom-right-radius: 30px; border-bottom-left-radius: 30px; padding: 1.5em; padding-top: 1.5em; padding-right: 1.5em; padding-bottom: 1.5em; padding-left: 1.5em; border: 1px solid #dee2e6; border-top-color: rgb(222, 226, 230); border-top-style: solid; border-top-width: 1px; border-right-color: rgb(222, 226, 230); border-right-style: solid; border-right-width: 1px; border-bottom-color: rgb(222, 226, 230); border-bottom-style: solid; border-bottom-width: 1px; border-image-outset: 0; border-image-repeat: stretch; border-image-slice: 100%; border-image-source: none; border-image-width: 1; box-shadow: 1px 0px 4px rgba(0,0,0,0.2) !important;border-left: 2px solid rgba(183,183,183,0.25) !important; font-family: "Montserrat",sans-serif;  color: #004884; box-sizing: border-box; font-weight: 400; line-height: 1.5; }

